
.light.highContrast {
    /*general*/
    background-color: #fcfcfc;
    color: #000;
}

.light.highContrast:focus {
    background-color: #eee;
}

#session.light.highContrast {
    background-color: #eee;
    color: #000;
    border-color: #222;
}

.scramble.light.highContrast {
    background-color: rgb(248, 248, 248);
    box-shadow: 0px 0px 23px 8px rgba(6, 6, 6, 0.38)
}

#scramble.light.highContrast {
    background-color: rgb(248, 248, 248);
}

#timer.light.highContrast {
    color: #000;
}

#settings.light.highContrast {
    background-color: #fbfbfb;
    border-color: #aaa;
}

.setting.light.highContrast {
    background-color: #fbfbfb;
}

.setting.light.highContrast:focus {
    background-color: #efefef;
}

#softkeys.light.highContrast {
    background-color: #fff;
}

th.light.highContrast {
    background-color: #ddd;
}

td.light.highContrast {
    background-color: #eee;
}

td.light.highContrast:focus {
    background-color: #dfdfdf;
}

.dropdown-item.light.highContrast {
    background-color: #222;
}

.dropdown-item.light.highContrast:focus {
    background-color: #171717;
}

#settings input.light,
#settings select.light {
    background-color: #ddd;
    color: #111;
}

#search.light.highContrast {
    background-color: #ddd !important;
    color: black !important;
}

#search.light.highContrast:focus {
    background-color: #ccc;
}