.dark.highContrast {
    /*general*/
    background-color: #121212;
    color: #fff;
}

.dark.highContrast:focus {
    background-color: #080808;
}

#session.dark.highContrast {
    background-color: #131313;
    border-color: #000;
}

.scramble.dark.highContrast {
    background-color: rgb(17, 17, 17);
    box-shadow: 0px 0px 20px 8px rgba(6, 6, 6, 0.45)
}

#scramble.dark.highContrast {
    background-color: rgb(17, 17, 17);
}

#settings.dark.highContrast {
    background-color: #151515;
    border-color: #000;
}

.setting.dark.highContrast {
    background-color: #151515;
}

.setting.dark.highContrast:focus,
#search.dark.highContrast:focus {
    background-color: #303030;
}

#softkeys.dark.highContrast {
    background-color: #000;
}

th.dark.highContrast {
    background-color: #080808;
}

td.dark.highContrast {
    background-color: #111;
}

td.dark.highContrast:focus {
    background-color: #202020;
}

.dropdown-item.dark.highContrast {
    background-color: #101010
}

.dropdown-item.dark.highContrast:focus {
    background-color: #252525;
}


#settings input.dark.highContrast,
#settings select.dark.highContrast {
    background-color: #111;
    color: #fff;
}