.light {
    /*general*/
    background-color: #ebe8e8;
    color: #222;
}

.light:focus {
    background-color: #d0d0d0;
}

body.light {
    background-color: #f7f7f7;
}

body.light #session {
    background-color: #ddd;
    border-color: rgb(155, 155, 155);

    color: #222;
}

body.light #sessions {
    border: #969696;
    background-color: #ebe8e8;
    color: #272727;
}

.scramble.light {
    background-color: rgb(235, 232, 232);
    box-shadow: 0px 0px 30px 8px rgba(66, 66, 66, 0.39)
}

#scramble.light {
    background-color: rgb(235, 232, 232);
}

#timerBox.light {
    background-color: #f7f7f7;
}

#timer.light {
    color: #222;
}

#settings.light {
    background-color: #eee;
    border-color: rgb(155, 155, 155);
    color: #222;
}

#settings input.light,
#settings select.light {
    background-color: #bbb;
    color: #333;
}

.setting.light {
    background-color: #eee;
    color: #222;
} 

.setting.light:focus, #search.light:focus {
    background-color: #cdcdcd;
}

#softkeys.light {
    background-color: #ddd;
    color: #333;
}

th.light {
    background-color: #aaa;
}

td.light, #loadMore.light {
    background-color: #eee;
}

td.light:focus, #loadMore.light:focus {
    background-color: #c7c6c6;
}

.divider>.line.light {
    background-color: #171717;
}


.dropdown-item.light {
    color: #171717;
    background-color: #ddd;
}

.dropdown-item.light:focus {
    background-color: #bbb;
}

.selected.light {
    background-color: #bbb;
}

#options.light {
    background-color: #ccc;
}

#options.light {
    background-color: #ddd;
}

.option-button.light {
    background-color: inherit;
}

.option-button.light:focus {
    background-color: #b4b3b3;
}

#editTime.light {
    background-color: #ddd;
    border-color: rgb(160, 160, 160);
}

#editTime.light *:focus {
    background-color: #bbb;
}