.superdark {
    /*general*/
    background-color: #131313;
    color: #fff;
}

.superdark:focus {
    background-color: #101010;
}

#session.superdark {
    background-color: #181818;
    color: #fff;
    border-color: #101010;
}

.scramble.superdark {
    background-color: rgb(5, 5, 5);
    box-shadow: 0px 0px 30px 8px rgba(6, 6, 6, 0.7)
}

#scramble.superdark {
    background-color: rgb(5, 5, 5);
}

#timer.superdark {
    color: #fefefe;
}

#settings.superdark {
    background-color: #181818;
    border: 4.5px solid #101010;
    color: #fefefe;
}

.setting.superdark {
    background-color: #181818;
    color: #fefefe;
}

.setting.superdark:focus {
    background-color: #111;
}

#softkeys.superdark {
    background-color: #000;
    color: #fefefe;
}

th.superdark {
    background-color: #202020;
}

td.superdark {
    background-color: #333;
}

td.superdark:focus {
    background-color: #262626;
}

.dropdown-item.superdark {
    background-color: #222;
}

.dropdown-item.superdark:focus {
    background-color: #171717;
}